@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background pt-body-top pr-body-right pb-body-bottom pl-body-left;
  }
  h1 {
    @apply text-h1-size font-bold text-title;
  }
  p {
    @apply text-base text-font;
  }
  a {
    @apply text-anchor;
  }
  td {
    @apply text-td text-base;
    font-weight: 300;
  }
  th {
    @apply text-base text-font;
    font-weight: 400;
  }
  tr:hover td {
    @apply text-hoverContentTable;
  }
  tr[data-checked="true"] td {
    @apply text-hoverContentTable;
  }
  tr[data-checked="true"] {
    @apply bg-hoverTable;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
